pymongo==4.16.0
langchain==1.2.17
langchain-chroma==1.1.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.3.2
langchain-google-genai==4.2.2
langchain-groq==1.1.2
langchain-huggingface==1.2.0
langchain-openai==1.2.1
langchain-pinecone==0.2.13
langchain-protocol==0.0.14
langchain-text-splitters==1.1.1
pinecone==7.3.0
pinecone-client==6.0.0
pinecone-plugin-assistant==1.8.0
pinecone-plugin-interface==0.0.7